@use "../utils/" as *;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $primary $cod-gray;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: $cod-gray;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
  border: 3px none $cod-gray;
}
