@use "../utils/" as *;
@use "../shared/" as *;
.cursor {
  @extend %center;
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  top: -50px;
  left: -50px;
  opacity: 0;
  z-index: 100;
  transform: opacity 1s ease;
}

.cursor__text {
  // @extend %text-12;
  font-size: 12px;
  @extend %center;
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  mix-blend-mode: difference;
  animation: rotateText 3s linear infinite;
}

.cursor__text span {
  position: absolute;
  text-transform: uppercase;
  transform: rotate(0deg);
}

.cursor__icon {
  @extend %center;
  gap: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}

.cursor__icon .sound__bar {
  width: 6px;
  border-radius: 2px;
  height: 25px;
  animation: soundBar 0.5s infinite;
  background-color: white;
  transform-origin: center;
  mix-blend-mode: difference;
}

.cursor__icon .sound__bar:nth-child(1) {
  animation-delay: 0.1s;
}
.cursor__icon .sound__bar:nth-child(2) {
  animation-delay: 0.3s;
}
.cursor__icon .sound__bar:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes soundBar {
  0% {
    height: 25px;
  }
  100% {
    height: 12.5px;
  }
}
