
nav.nav__wrapper 
    a(href="/").nav__logo 22Carbone
    .nav__menu__btn 
.nav__menu__wrapper
    a(href="/").nav__menu__link Accueil    
    a(href="/discography/").nav__menu__link Discographie    
    a(href="/news/").nav__menu__link News    
