.preloader
    .preloader__wrapper
        h1.preloader__title
            span Director,
            span Cinematographer,
            span Illustrator
        svg(width="1512", height="488", viewBox="0 0 1512 488", fill="none", xmlns="http://www.w3.org/2000/svg")
            path(d="M0 487.191C51.3333 386.357 201.5 206.99 391.5 296.19C629 407.69 674.789 521.232 1006.5 470.69C1344.5 419.19 1349.5 123 1512.5 2", stroke="#E7E7E7", stroke-width="3")
        p.preloader__percentage

