doctype
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/")
        title #{title || "22Carbone"}

        meta(name="description" content="22Carbone est un groupe originaire de Marseille composé d'un rappeur, Gabi et dedeux producteurs, Hatlas et Sphinx. Le groupe a été fondé en fin 2022.")

        link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/svg+xml" href="/favicon.svg")
        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        meta(name="apple-mobile-web-app-title" content="22Carbone")
        link(rel="manifest" href="/site.webmanifest")


    body(style="visibility:hidden")
        include ../_includes/preloader.pug
        include ../_includes/navigation.pug
        .content(data-template=template)
            block content


        script(type="module", src="/src/app/index.js")