@use "../shared" as *;
@use "../utils" as *;
.discography {
  @extend %page;
  overflow-x: hidden;
  color: white;
}
.discography__wrapper {
  @extend %cover;
  overflow: hidden;
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  background: black;
  position: relative;
}

.discography__album {
  position: absolute;
  @extend %center;
  height: 100dvh;
  width: 100vw;
  visibility: hidden;
  mix-blend-mode: difference;
}

.discography__album__cover {
  position: absolute;
  transform: translateX(-50%);
  bottom: -100rem;
  left: 50%;
  width: 80vw;
  visibility: hidden;
  @include media("<tablet") {
    bottom: 10vw;
  }
}
.discography__album__label {
  position: relative;
  top: -20rem;
  @include media("<tablet") {
    top: -100rem;
  }
}
.discography__album__title {
  @extend %title-96;
  text-align: center;
  font-family: "baunk";
  text-transform: uppercase;
  text-decoration: none;
}

.discography__album__date {
  @extend %text-16;
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
  left: 100%;
  font-family: "robotoMono";
  white-space: nowrap;
  & .before {
    content: "";
    width: 0%;
    height: 2.1rem;
    background-color: white;
    position: absolute;
    left: 0;
  }
}
.discography__album__info {
  @extend %text-16;
  display: inline-flex;
  gap: 2rem;
  position: absolute;
  font-family: "robotoMono";
  & .before {
    content: "";
    width: 0%;
    height: 2.1rem;
    background-color: white;
    position: absolute;
  }
}
