@use "../shared" as *;
@use "../utils" as *;
.home {
  @extend %page;
  overflow-x: hidden;
  color: white;
  // position: relative;
}

.home__vertical__line {
  background-color: rgba(0, 0, 0, 0.233);
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: 1;
  &:nth-child(1) {
    left: 20%;
  }
  &:nth-child(2) {
    left: 40%;
  }
  &:nth-child(3) {
    left: 60%;
  }
  &:nth-child(4) {
    left: 80%;
  }
}

.home p {
  @extend %text-16;
}

.home h1 {
  @extend %title-200;
  font-family: "baunk";
  font-weight: 700;
  color: $primary;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  mix-blend-mode: difference;
  transform-origin: left bottom;
}

.home h1.hidden {
  display: none;
}

.home h2 {
  @extend %title-96;
  position: relative;
  font-family: "baunk";
  font-weight: 700;
  color: $primary;

  // &::after {
  //   content: "";
  //   width: 16rem;
  //   height: 0.4rem;
  //   background-color: $primary;
  //   position: absolute;
  //   bottom: -10px;
  //   left: 12rem;
  // }
}

.home__video__wrapper {
  @extend %center;
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background: black;
}
.home__video__filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
}
.home__video {
  @extend %center;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.home__main__wrapper {
  position: relative;
  background-color: rgb(0, 0, 0);
  padding-top: 15rem;
  z-index: 0;
  &::after {
    content: "";
    @extend %cover;
    @extend %center;
    z-index: -1;
    background-image: url("src/assets/img/noise-light.png");
    opacity: 0.5;
  }
}
.home__three__wrapper {
  position: relative;
  height: 50rem;
}

.home__three__label {
  @extend %cover;
  @extend %center;
  width: 100%;
  font-family: "wagon";
  text-align: center;
  z-index: -1;
  font-size: 20vw;
  font-weight: 200;
  text-transform: uppercase;
  opacity: 0.04;
}

.home__who__wrapper {
  @extend %center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 15rem;
}
.home__who__title {
  margin-bottom: 20px;
}

p.home__who__p {
  max-width: 60rem;
  @include media("<tablet") {
    max-width: 80%;
  }
}

.home__news__wrapper {
  @extend %content-padding;
  margin-top: 15rem;
}
.home__news__separator {
  height: 1px;
  width: 100%;
  background-color: $primary;
  margin: 6rem 0 2rem 0;
}
.home__news__item {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  @include media("<tablet") {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    margin-bottom: 2rem;
  }
}

.home__news__info__wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include media("<tablet") {
    display: block;
  }
}

.home__news__item__label {
  @extend %title-30;
  font-weight: 700;
  max-width: 80%;
  @include media("<tablet") {
    max-width: 100%;
    margin-bottom: 4rem;
  }
}
.home__news__item__date {
  font-size: 1.5rem;
  @include media("<tablet") {
    margin-top: 4rem;
    font-size: 6rem;
  }
}
.home__news__item__text {
  line-height: 20px;
}
.home__news__item__img {
  @include media("<tablet") {
    margin: 4rem 0;
  }
}
