---json
    {
        "template": "discography"
    }
---
extends ./_layouts/layout.pug
block content
    .discography 
        .discography__wrapper
            canvas.discography__album_cover
            .discography__albums__wrapper