extends ./_layouts/layout.pug
block content
    .home 
        .home__wrapper 
            h1.home__title 
                span 22
                | Carbone 
            .home__video__wrapper
                .home__video__filter
                img.home__video(src="/src/assets/img/home-video-placeholder.png", alt="Présentation 22Carbone")
                //- video.home__video(src="")
            .home__main__wrapper
                .home__who__wrapper 
                    h2.home__h2.home__who__title Qui ?
                    p.home__who__p 22Carbone est un groupe originaire de Marseille composé d'un rappeur, Gabi, et de deux producteurs, Hatlas et Sphinx. Le groupe a été fondé en fin 2022, suite à la sortie de leur premier EP « DISTORSION » en décembre 2022. Depuis, ils comptent un deuxième projet à leur actif « ENTROPIE », et deux clips sur leur chaîne YouTube.
                .home__three__wrapper
                    .home__three__label Sphinx
                //- .home__member__carousel__wrapper 
                //-     img(src="/src/assets/img/carousel-sphinx.png", alt="sphinx").home__member__carousel__img
                //-     img(src="/src/assets/img/carousel-gabi.png", alt="gabi").home__member__carousel__img
                //-     img(src="/src/assets/img/carousel-hatlas.png", alt="hatlas").home__member__carousel__img
                //-     .home__member__carousel__label
                //-         .home__member__carousel__label__name Gabi
                //-         .home__member__carousel__label__role Rappeur, Interprète
                .home__news__wrapper
                    h2.home__h2 News
                    p.home__news__p Retrouvez 22Carbone aussi bien sur les réseaux via leurs clip ou en direct lors de concert. Retrouvez ici les dernière information du groupe.
                    .home__news__grid__wrapper 
                        .home__news__grid__item
                            img(src="", alt="", srcset="").home__news__item__img
                            .home__news__item__label
                                .home__news__date
                                .home__news__title
                                .home__news__desc
                    a(href="/news/").home__news__cta Voir plus
        

