---
    template: "home"
    title: "Accueil | 22Carbone"
    
---
extends ./_layouts/layout.pug
block content
    .home
        .home__wrapper 
            .home__vertical__line
            .home__vertical__line
            .home__vertical__line
            .home__vertical__line
            h1.home__title 22Carbone 
            .home__video__wrapper
                .home__video__filter
                img.home__video(src="src/assets/img/home-video-placeholder.png", alt="Présentation 22Carbone")
                //- video.home__video(src="")
            .home__main__wrapper
                .home__who__wrapper 
                    h2.home__h2.home__who__title(data-animation="title") Qui ?
                    p.home__who__p
                        | Né dans l'effervescence marseillaise fin 2022, 22Carbone est un trio audacieux composé du rappeur Gabi et des producteurs Hatlas et Sphinx. Leur signature ? Un mélange explosif de rap, techno et rock, porté par une esthétique visuelle cinématographique. 
                        br
                        br
                        | Leur premier EP DISTORSION (décembre 2022) marque immédiatement les esprits avec le clip Prophétie, plongeant l'auditeur dans un univers post-apocalyptique à la Mad Max. Ce titre hybride devient leur morceau le plus streamé, révélant leur capacité à fusionner les genres avec maestria.
                .home__three__wrapper
                    .home__three__label 
                .home__reels__title
                    h2.home__h2(data-animation="title") Récement 
                .home__reels__wrapper
                    .home__reels__video__wrapper(data-animation="reels")
                        video.home__reels__video(autoplay loop muted playsinline preload="auto")
                            source(src="src/assets/videos/reels_freestyle_bon_marche.mp4" type="video/mp4")
                            | Votre navigateur ne supporte pas les vidéos.
                        video.home__reels__video(autoplay loop muted playsinline preload="auto")
                            source(src="src/assets/videos/reels_digicode.mp4" type="video/mp4")
                            | Votre navigateur ne supporte pas les vidéos.
                        video.home__reels__video(autoplay loop muted playsinline preload="auto")
                            source(src="src/assets/videos/reels_trashtalking.mp4" type="video/mp4")
                            | Votre navigateur ne supporte pas les vidéos.
                .home__news__wrapper
                    .home__news__separator(data-animation="separator") 
                    .home__news__item
                        .home__news__info__wrapper
                            .home__news__item__title
                                .home__news__item__date 22/10/2023 
                                .home__news__item__label Nouvel EP - DISTORSION
                            p.home__news__item__text 22Carbone sort son premier EP "DISTORSION" sur toutes les plateformes de streaming.
                        img.home__news__item__img(src="src/assets/img/carousel-gabi.png",width="100%",data-animation="image")
                    .home__news__separator(data-animation="separator") 
                    .home__news__item
                        .home__news__info__wrapper
                            .home__news__item__title
                                .home__news__item__date 22/10/2023 
                                .home__news__item__label Concert à La Cigale
                            p.home__news__item__text 22Carbone sort son premier EP "DISTORSION" sur toutes les plateformes de streaming. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aliquam vero enim! Quis modi libero a dolorem reiciendis laudantium consectetur, dolor tempora quam eum repellat hic iure! Error, nam laborum?
                        img.home__news__item__img(src="src/assets/img/carousel-hatlas.png",width="100%",data-animation="image")
                    .home__news__separator(data-animation="separator") 
                    .home__news__item
                        .home__news__info__wrapper
                            .home__news__item__title
                                .home__news__item__date 22/10/2023 
                                .home__news__item__label Festival Les Trans-Musicales
                            p.home__news__item__text 22Carbone sort son premier EP "DISTORSION" sur toutes les plateformes de streaming.
                        img.home__news__item__img(src="src/assets/img/carousel-sphinx.png",width="100%",data-animation="image")
                    .home__news__separator(data-animation="separator") 
                    .home__news__item
                        .home__news__info__wrapper
                            .home__news__item__title
                                .home__news__item__date 22/10/2023 
                                .home__news__item__label 22Carbone sort son premier EP "DISTORSION"
                            p.home__news__item__text 22Carbone sort son premier EP "DISTORSION" sur toutes les plateformes de streaming.
                        img.home__news__item__img(src="src/assets/img/carousel-gabi.png",width="100%",data-animation="image")
    

