@import "include-media";

$breakpoints: (
  "phone": 768px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

//Colors
$primary: #ffffff;
$zarin-crimson: #cdfdf9;
$cod-gray: #1e1e1e;
$jon: #371f1f;
$mine-shaft: #282524;
